.home {
  padding: 20px;
}

.h1 {
  margin: 0;
  font-size: 12px;
}

.about {
  margin: 26px 0 0 0;
  font-size: 12px;
}

.skills {
  font-size: 12px;
  max-width: 385px;
}

.contact {
  text-align: center;
  font-size: 12px
}


.email {
  color: #2788C8
}